// Responsive Media Queries
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin size-min-tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}
@mixin size-min-desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
};

body {
    font-family: Helvetica Neue, "nimbus-sans", Helvetica, Arial, sans-serif;
    color: #323232;
    display: flex;
    flex-direction: column;
    padding: 1em;

    @include size-min-desktop {
        padding: 2em 15em;
    }

    header {
        margin-bottom: 1em ;
        padding: 1em 2em;
        border: 1px solid #323232;
        border-radius: 3px;

        h1 {
            font-weight: 400;
        }
    }

    main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .country-info {
          margin-bottom: 1em;
          padding: 1em 2em;
          border: 1px solid #323232;
          border-radius: 3px;

          .country-name, .country-last-updated {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
          }
      }

      .canvas-container {
          flex-grow: 1;
          position: relative;

          .canvas-background {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              border: 1px solid #323232;
              border-radius: 3px;
              z-index: -1;
          }

          canvas {
              cursor: move;
          }
      }
    }
}
